@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Regular.woff");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Light.woff");
    font-weight:300;
    font-style:normal;
}

@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Medium.woff");
    font-weight:500;
    font-style:normal;
}

@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Regular.woff");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Bold.woff");
    font-weight:700;
    font-style:normal;
}

@font-face {
    font-family:"TTLakes" ;
    src: url("fonts/TTLakes-Black.woff");
    font-weight:900;
    font-style:normal;
}



*, *::after, *::before {
    margin:0;
    padding:0;
}


html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-size:14px;
    line-height:1.2;
    font-family:"TTLakes", sans-serif;
    overflow:hidden;
    background:white;

}






/* ****************HEADER *****************/


.wrapper {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    background-color:#F8F8F8;
    margin:0px auto;

}

.wrapper__container {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:100%;
}



.header {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    margin-bottom:24px;
    border-bottom:1px solid #D9FFF5;
    background-color:white;
}


.header__link-container {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color:#FF3E79;
}

.header__link {
    margin-bottom:24px;
    margin-top:24px;
    display:flex;
}

.header__link--hiddenlinks {
    display:none;
}


.header__menu {
    border:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}


.header__divider {
    height: 32px;
    width: 2px;
    background-color:#EAEAEA;
    border-radius: 1px;
}

.header__divider--hidden {
    display:none;
}


/* *********************ОСНОВНАЯ ЧАСТЬ********************* */


.main {
    width:100%;
    display:flex;
    flex-direction:column;
}


.title {
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    align-items:center;
    margin-bottom:24px;
}

.title__header {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

.title__text {
    margin-left:12px;
    margin-right:16px;
}

.title__img {
    display:flex;
    border:1px solid #41F6D7;
    width:4px;
    height:40px;
    background-color:#41F6D7;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.title__adding {
    display:none;
}

/* *********************Основная часть МЕНЮ**************************** */

.nav {
    display:flex;
    overflow:scroll;
    margin-bottom:24px;
    margin-left:16px;
    padding:2px;
}

.nav__list {
    display:flex;   
}

.nav__list li {
    display:flex;
    align-items:center;
    list-style-type:none;
}


.nav::-webkit-scrollbar {
    display: none;
}

.nav__link{
    font-size:16px;
    color:#7E7E82;
    text-decoration:none;
    font-weight:500;
    letter-spacing: -0.2px;
    white-space:nowrap;
    font-family:"TTLakes";
    margin-left:20px;
}

.nav__link-active {
   
    outline :2px solid #B8FFEC;
    border-radius:6px;
    background-color:white;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:16px;
    padding-right:10px;
    margin-left:0px;
}

.nav__link:hover {
    outline :2px solid #B8FFEC;
    border-radius:6px;
    background-color:white;
    padding-top:8px;
    padding-bottom:8px;
   
}

.nav__link1120 {
    display:none;
}

.main__article {
    display:flex;
    flex-direction:column;
    margin-right:17px;
}

.main__article-content {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    font-size:14px;
}

.main__text {
    display:flex;
    flex-direction:column;
    overflow:hidden;
    max-height:100px;
    margin-bottom:16px;
   
   

}


.main__article-text {
    margin-left:16px;
    margin-right:5px;
    text-align:left;
    line-height: 20px;
    margin-bottom:14px;
   
  
}

.main__article-text:last-child {
    margin-bottom:0;
}

.main__article-button {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:flex-start;
    margin-left:15px;
    width:200px;
    background-color:#F8F8F8;
    border:none;
    font-family:"TTLakes";
    font-size:16px;
    font-weight:500;
    letter-spacing: -0.2px;
    margin-left:40px;
    cursor:pointer;
}


.main__article-button::before {
    position:absolute;
    content:"";
    display:flex;
    width:5.6px;
    height:5.6px;
    border:2px solid #41F6D7;
    border-right:none;
    border-top:none;
    transform:rotate(-45deg);
    left:-20px;
    top:9px;
}

.main__article-button::after {
    position:absolute;
    content:"";
    display:flex;
    width:5.6px;
    height:5.6px;
    border:2px solid #41F6D7;
    border-right:none;
    border-top:none;
    transform:rotate(-45deg);
    left:-20px;
    top:2px;
}



.main__article-imgcontainer {
    position:relative;
    width: 320px;
    height: 210px;
    margin-top: 14px;
    margin-bottom:20px;
}

.main__article-img1120 {
    display:flex;
    width:320px;
    height:210px;
    position:absolute;

}

/* *************************** MIN-WIDTH:768px********************************** */

@media (min-width:768px) {

    .header__link--hidden320 {
        display:flex;
    }


    .header__link--hiddenlinks {
        display:flex;
        margin-left:250px;
    }

     
    .header__link--hidden320:first-child {
        margin-left:0px;
    }


    .header__link--hidden320 {
        margin-left:16px
    }



    
    .header__divider--hidden {
        display:flex;
    }


    .title {
        margin-bottom:32px;
    }

    .title__text {
        margin-left:20px;
    }

    .nav {
        margin-left:24px;

    }

    .main__article{
        display:flex;
        flex-direction:row;
    }

    .main__article-content {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        line-height: 20px;
        text-align:left;
        vertical-align: top;
        letter-spacing: 0.2px;
        margin-right:51px;
    }


    .main__text {
        max-height:155px;
    }


    .main__article-text {
       margin-left:24px;
     
    }

    .main__article-button {
      margin-left:50px;
    }
    

    .main__article-imgcontainer {
        display:flex;
        min-width: 358px;
        min-height: 209px;
        margin-top:0;
    }

    .main__article-img1120 {
        display:flex;
        width: 358px;
        height: 209px;
        border-radius:6px;
        position:absolute;
    }
   
    

    
}

/* *************************** MIN-WIDTH:1120px********************************** */

@media(min-width:1120px) {
    .header {
        display:none;
    }

    .title {
        justify-content:space-between;
        margin-bottom:8px;
        margin-top:42px;
    }

    

    .title__text {
        margin-left:28px;
    }
    
    .title__adding {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right:40px;
    }

    .title_adding-link {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-left:32px;
        font-family:"TTLakes";
        font-weight:500;
        font-size:16px;
        text-decoration:none;
        color:black;
    }

    .title_adding-link > .header__link-container {
        margin-left:8px;
    }


    
    .nav__link1120 {
        display:flex;
    }

    .nav__link3276{
        display:none;
    }
    
    .nav {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        margin-bottom:16px;
        margin-left:10px;
        gap:4px 0px;
    }


    .nav__list {
        flex-wrap:wrap;
        align-items:center;
        
    }

    .nav__list li:last-child {
        margin-left:23px;
        padding-top:8px;
        padding-bottom:8px;
    }

    .nav__link-active {
        padding-left:22.6px;
        padding-right:35px;
        margin-left:0px;
        
    }

    .nav__link {
        margin-left:26.5px;
    }

    

    .nav__link:last-child {
        margin-left:23px;
        padding-top:8px;
        padding-bottom:8px;
    }

    .nav__link-active {
        margin-left:0px;
        padding-left:22.6px;
        padding-right:35px;
    }

    .nav__link:hover {
        outline:2px solid #B8FFEC;
        background-color:white;
    
    }
     
    .main__article-text {
        margin-left:32px;
    }

    .main__text {
        max-height:160px;
    }

    

    .main__article-button {
        margin-left:60px;
      }


    
    .main__article-imgcontainer {
        min-width:500px;
        min-height:310px;
        margin-right:20px;
    }

    .main__article-img1120 {
        display:flex;
        width: 500px;
        height:310px;
        position:absolute;
        margin-top:0;
        border-radius:10px;
    }

}

    





